/* Applique un style global à la page */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centre l'image horizontalement */
  align-items: center; /* Centre l'image verticalement */
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  background-color: #f0f0f0; /* Une couleur de fond claire */
}

.page {
  text-align: center; /* Centre le contenu du conteneur */
  background-color: hsl(0, 0%, 90%); 
}

img {
  max-width: 100%; /* Empêche l'image de dépasser la largeur de l'écran */
  height: auto; /* Maintient les proportions de l'image */
  object-fit: contain; /* Maintient les proportions de l'image dans le conteneur */
}


