<div *ngIf="isLoading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Chargement des formations en cours...</p>
  </div>
  


<div class="statistique-logo">
    <span class="stat-text">Sélectionner Deux Établissements pour Comparaison</span>
  </div>
  
  <div class="search-bar">
    <!-- <h2>Rechercher une formation</h2> -->
    <input
      type="text"
      placeholder='Rechercher une formation, ex: "Licence Informatique", "Licence Dijon", "Informatique", "BUT Informatique Dijon", "Dijon", etc.'
      aria-label="Search"
      [(ngModel)]="searchQuery"
      (keypress)="filterFormations2()">
  </div>
  
  <div class="formation-table">
    <table>
      <thead>
        <tr>
          <th>
            <div style="text-align: center; font-weight: bold; margin-bottom: 10px;">

              <mat-checkbox 
              class="custom-checkbox" 
              color="secondary"
              (change)="selectAllEtablissements()" 
              [checked]="isAllSelected">
              <span style="color: black;">  </span>
            </mat-checkbox>

              Établissement
            </div>
            <div style="border-top: 2px solid #ccc; padding-top: 30px;">
              <input 
                type="text" 
                [(ngModel)]="searchEtablissement" 
                placeholder="" 
                (input)="filterFormations()"
                aria-label="Rechercher un établissement"
                style="width: 100%; height: 40px; padding: 8px; font-size: 16px; border: 1px solid #ddd; border-radius: 4px; background-color: #f9f9f9;">
            </div>
          </th>
          <th>
            <div style="text-align: center; font-weight: bold; margin-bottom: 10px;">
              Commune
            </div>
            <div style="border-top: 2px solid #ccc; padding-top: 30px;">
              <input 
                type="text" 
                [(ngModel)]="searchCommune" 
                placeholder="" 
                (input)="filterFormations()"
                aria-label="Rechercher une commune"
                style="width: 100%; height: 40px; padding: 8px; font-size: 16px; border: 1px solid #ddd; border-radius: 4px; background-color: #f9f9f9;">
            </div>
          </th>
          <th>
            <div style="text-align: center; font-weight: bold; margin-bottom: 10px;">
              Académie
            </div>
            <div style="border-top: 2px solid #ccc; padding-top: 30px;">
              <input 
                type="text" 
                [(ngModel)]="searchAcademie" 
                placeholder="" 
                (input)="filterFormations()"
                aria-label="Rechercher une académie"
                style="width: 100%; height: 40px; padding: 8px; font-size: 16px; border: 1px solid #ddd; border-radius: 4px; background-color: #f9f9f9;">
            </div>
          </th>
          <th>
            <div style="text-align: center; font-weight: bold; margin-bottom: 10px;">
              Filière
            </div>
            <div style="border-top: 2px solid #ccc; padding-top: 30px;">
              <input 
                type="text" 
                [(ngModel)]="searchFiliere" 
                placeholder="" 
                (input)="filterFormations()"
                aria-label="Rechercher une filière"
                style="width: 100%; height: 40px; padding: 8px; font-size: 16px; border: 1px solid #ddd; border-radius: 4px; background-color: #f9f9f9;">
            </div>
          </th>
          <th>
            <div style="text-align: center; font-weight: bold; margin-bottom: 10px;">
              Filière détaillée
            </div>
            <div style="border-top: 2px solid #ccc; padding-top: 30px;">
              <input 
                type="text" 
                [(ngModel)]="searchFiliereDetaillee" 
                placeholder="" 
                (input)="filterFormations()"
                aria-label="Rechercher une filière détaillée"
                style="width: 100%; height: 40px; padding: 8px; font-size: 16px; border: 1px solid #ddd; border-radius: 4px; background-color: #f9f9f9;">
            </div>
          </th>
          <th>
            <div style="text-align: center; font-weight: bold; margin-bottom: 10px;">
              Filière très détaillée
            </div>
            <div style="border-top: 2px solid #ccc; padding-top: 30px;">
              <input 
                type="text" 
                [(ngModel)]="searchFiliereTresDetaillee" 
                placeholder="" 
                (input)="filterFormations()"
                aria-label="Rechercher une filière très détaillée"
                style="width: 100%; height: 40px; padding: 8px; font-size: 16px; border: 1px solid #ddd; border-radius: 4px; background-color: #f9f9f9;">
            </div>
          </th>
          <th>
            <div style="text-align: center; font-weight: bold; margin-bottom: 10px;">
              Statut
            </div>
            <div style="border-top: 2px solid #ccc; padding-top: 30px;">
              <input 
                type="text" 
                [(ngModel)]="searchStatut" 
                placeholder="" 
                (input)="filterFormations()"
                aria-label="Rechercher un statut"
                style="width: 100%; height: 40px; padding: 8px; font-size: 16px; border: 1px solid #ddd; border-radius: 4px; background-color: #f9f9f9;">
            </div>
          </th>
          <th>
            <div style="text-align: center; font-weight: bold; margin-bottom: 10px;">
              Sélectivité
            </div>
            <div style="border-top: 2px solid #ccc; padding-top: 30px;">
              <input 
                type="text" 
                [(ngModel)]="searchSelectivite" 
                placeholder="" 
                (input)="filterFormations()"
                aria-label="Rechercher une sélectivité"
                style="width: 100%; height: 40px; padding: 8px; font-size: 16px; border: 1px solid #ddd; border-radius: 4px; background-color: #f9f9f9;">
            </div>
          </th>
          <th>
            <div style="text-align: center; font-weight: bold; margin-bottom: 10px;">
              Nombre d'admis
            </div>
            <mat-slider min="0" max="100000" step="1000" showTickMarks discrete [displayWith]="formatLabel">
              <input matSliderThumb>
            </mat-slider>
          </th>
        </tr>
      </thead>
    
      <tbody *ngIf="filteredFormations.length > 0">  
        <tr *ngFor="let formation of filteredFormations">
          <td>
            <section class="example-section">
            <mat-checkbox 
              class="custom-checkbox" 
              color="secondary"
              (change)="selectEtablissement(formation)" 
              [checked]="isEtablissementSelected(formation)">
              <span style="color: black;">{{ formation.etablissement }}</span>
            </mat-checkbox>
          </section>
          </td>
          
          <td [ngClass]="{'non-disponible': !formation.commune_etablissement}">
            {{ formation.commune_etablissement || 'Non disponible' }}
          </td>
          <td>{{ formation.academie_etablissement }}</td>
          <td>{{ formation.filiere_formation }}</td>
          <td>{{ formation.filiere_formation_detaillee }}</td>
          <td [ngClass]="{'non-disponible': !formation.filiere_formation_tres_detaillee}">
            {{ formation.filiere_formation_tres_detaillee || 'Non disponible' }}
          </td>
          <td>{{ formation.statut_etablissement_filiere }}</td>
          <td>{{ formation.selectivite }}</td>
          <td [ngClass]="{'non-disponible': !formation.effectif_total_candidats_admis}">
            {{ formation.effectif_total_candidats_admis || 'Non disponible' }}
          </td> 
        </tr>
      </tbody>
      
  
    </table>

   <div class="compare-btn-container">
    <button mat-raised-button 
            color="primary" 
            (click)="goToEtablissementComp()" 
            [disabled]="selectedEtablissements.length < 2">
      Comparer {{ selectedEtablissements.length }} établissement(s) sélectionné(s)
    </button>
  </div>
  


  <mat-paginator class="custom-paginator"
   [length]="totalItems"
   [pageSize]="pageSize"
   [pageSizeOptions]="[5, 10, 25, 100]"
   aria-label="Select page"
   (page)="onPageChange($event)">
  </mat-paginator>


  <p *ngIf="searchQuery && pagesContainingResults.length > 0">
    Résultat trouvé sur 
    <b>{{ pagesContainingResults.length }}</b> page(s) :
    <span *ngFor="let page of pagesContainingResults; let i = index">
      <b>{{ page }}</b>{{ i < pagesContainingResults.length - 1 ? ', ' : '' }}
    </span>
  </p>
  