.footer {
   
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    z-index: 10; /* Priorité sur d'autres éléments */
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre */
    margin-top: 20px; 
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--blue);
}

.logo {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--red);
}

@media (max-width: 768px) {
    ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    a {
        font-size: 14px;
    }
}
