<header>
    <ul>
        
        <li>
            <a routerLink="statistiques">Statistiques</a>
            <!-- sous-menu statistiques -->
            <ul class="submenu">
                <li><a href=""> géographiques</a></li>
                <li><a routerLink="formations"> Formation</a></li>
                
            </ul>
        </li>
        <li>
            <a routerLink=>Choix Formation</a>
            <!-- sous-menu établissements -->
            
           
        </li>
        <li><a routerLink="" class="logo">DataSup</a></li>
        <li>
            <a routerLink="filieres">Rapports & Analyses</a>
            <!-- sous-menu filières -->
            <ul class="submenu">
                <li><a href="">Rapports</a></li>
                <li><a href="">Analyses</a></li>
                
            </ul>
        </li>
        
        <li><a routerLink="apropos">À propos</a></li>
    </ul>
</header>
