<!-- Options -->
<div class="options">
  <mat-button-toggle-group [(ngModel)]="selectedOption">
    <mat-button-toggle value="mention_bien">Mention</mat-button-toggle>
    <mat-button-toggle value="Admission">Admission</mat-button-toggle>
    <mat-button-toggle value="bourse">Bourse</mat-button-toggle>
    <mat-button-toggle value="sexe">Sexe</mat-button-toggle>
    <mat-button-toggle value="type_bac">Type de bac</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<!-- Filieres -->
<div *ngIf="selectedOption === 'Admission'">
  <div class="liste-filieres">
    <p><strong>Choisis une filière :</strong></p>
    <ul>
      <li *ngFor="let f of filieres">
        <button (click)="onSelectFiliere(f)">
          {{ f.filiere_formation }}
        </button>
      </li>
    </ul>
  </div>
</div>

<!-- Mentions -->
<div *ngIf="selectedOption === 'mention_bien' && selectedFiliere">
  <p><strong>Mention au bac des candidats admis</strong></p>
  <p>Très bien : <strong>{{ selectedFiliere["toInteger(a.effectif_neo_bacheliers_mention_tres_bien_felicitation_bac_admis)"] }}%</strong></p>
  <p>Bien : <strong>{{ selectedFiliere["toInteger(a.effectif_neo_bacheliers_mention_bien_bac_admis)"] }}%</strong></p>
  <p>Assez bien : <strong>{{ selectedFiliere["toInteger(a.effectif_neo_bacheliers_mention_assez_bien_bac_admis)"] }}%</strong></p>
  <p>Passable : <strong>{{ selectedFiliere["toInteger(a.effectif_neo_bacheliers_sans_mention_bac_admis)"] }}%</strong></p>
</div>

<!-- Admission -->
<div *ngIf="selectedOption === 'Admission' && selectedFiliere">
  <p><strong>Statistiques d'admission</strong></p>
  <p>Nombre de candidats : <strong>{{ nombreCandidats }}</strong></p>
  <p>Nombre d'admis : <strong>{{ nombreAdmis }}</strong></p>
  <p>Taux d’admission : <strong>{{ tauxAdmission | number:'1.0-1' }}%</strong></p>
</div>

<!-- Bourse -->
<div *ngIf="selectedOption === 'bourse' && selectedFiliere">
  <p><strong>Répartition boursiers</strong></p>
  <p>Boursiers : <strong>{{ nombreBoursiers }}</strong></p>
  <p>Non-boursiers : <strong>{{ (nombreCandidats && nombreBoursiers !== null) ? nombreCandidats - nombreBoursiers : 'N/A' }}</strong></p>
</div>

<!-- Sexe -->
<div *ngIf="selectedOption === 'sexe' && selectedFiliere">
  <p><strong>Répartition par sexe</strong></p>
  <p>Hommes : <strong>{{ sexeHommes }}</strong></p>
  <p>Femmes : <strong>{{ sexeFemmes }}</strong></p>
</div>

<!-- Type de Bac -->
<div *ngIf="selectedOption === 'type_bac' && selectedFiliere">
  <p><strong>Type de Bac des admis</strong></p>
  <p>Bac Général : <strong>{{ effectifBacGeneral }}</strong></p>
  <p>Bac Technologique : <strong>{{ effectifBacTechno }}</strong></p>
  <p>Bac Professionnel : <strong>{{ effectifBacPro }}</strong></p>
</div>

<!-- Graphique spécialités -->
<div *ngIf="selectedFiliere">
  <h3>Spécialités choisies au lycée</h3>
  <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptionss"
          [type]="barChartTypee">
  </canvas>
</div>
