<div class="header-section">
  <p class="breadcrumbs">
    <a class="breadcrumb-link" routerLink="/">DataSup</a> /
    
    <a class="breadcrumb-link" routerLink="/etablissements">Etablissements</a>
  </p>
</div>




<!-- <h1 class="titre">Informations Générales</h1> -->

<h1 class="titre">
  <fa-icon [icon]="faSignal"></fa-icon> Informations Générales
</h1>



<!-- <h1 class="titre">
  <svg width="20" height="20" viewBox="0 0 24 24">
    <path d="M2 20h2v-2H2v2zm4-4h2v-6H6v6zm4 2h2V8h-2v10zm4-4h2V4h-2v10zm4 6h2V2h-2v16z"></path>
  </svg>
  Informations Générales
</h1>
 -->