<div class="header-section">
  <p class="breadcrumbs">
    <button class="breadcrumb-link" [routerLink]="['/']">Acceuil</button> /
    <button class="btn-retour" [routerLink]="['/etablissements']">Retour aux établissements</button>
  </p>
  
</div>







<div class="block">
  <div class="menu">
    <div class="fd1">
      <h1 class="titre">
        <fa-icon [icon]="faSignal"></fa-icon> Informations Générales
      </h1>
    </div>

    <!-- Menu principal -->
    <div class="bouton">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOption">
        <mat-button-toggle value="nombre_de_candidats" class="bold-toggle">Nombre de candidats</mat-button-toggle>
        <mat-button-toggle value="nombre_dadmis" class="bold-toggle">Nombre d'admis</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- Options pour Nombre de Candidats -->
    <div [hidden]="selectedOption !== 'nombre_de_candidats'">
      <div class="sous-boutons">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedSousOption">
          <mat-button-toggle value="neobachelier" class="bold-toggle">Néo-bacheliers</mat-button-toggle>
          <mat-button-toggle value="touslescandidats" class="bold-toggle">Tous les candidats</mat-button-toggle>
          <mat-button-toggle value="neobachelierstechnologique" class="bold-toggle">Néo-bacheliers technologiques</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <!-- Sous-options pour Nombre de Candidats -->
      <div *ngIf="selectedSousOption === 'neobachelier' || selectedSousOption === 'touslescandidats' || selectedSousOption === 'neobachelierstechnologique'">
        <div class="sous-boutons">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedSousOption1">
            <!-- Néo-bacheliers -->
            <mat-button-toggle *ngIf="selectedSousOption === 'neobachelier'" value="ppneo" class="bold-toggle">Phase Principale</mat-button-toggle>
            <mat-button-toggle *ngIf="selectedSousOption === 'neobachelier'" value="pcneo" class="bold-toggle">Phase Complémentaire</mat-button-toggle>

            <!-- Tous les candidats -->
            <mat-button-toggle *ngIf="selectedSousOption === 'touslescandidats'" value="ppneot" class="bold-toggle">Phase Principale</mat-button-toggle>
            <mat-button-toggle *ngIf="selectedSousOption === 'touslescandidats'" value="pcneot" class="bold-toggle">Phase Complémentaire</mat-button-toggle>

            <!-- Néo-bacheliers technologiques -->
            <mat-button-toggle *ngIf="selectedSousOption === 'neobachelierstechnologique'" value="ppneotech" class="bold-toggle">Phase Principale</mat-button-toggle>
            <mat-button-toggle *ngIf="selectedSousOption === 'neobachelierstechnologique'" value="pcneotech" class="bold-toggle">Phase Complémentaire</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <!-- Graphiques selon sélection -->
      <!-- Néo-bacheliers -->
      <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneo'">
        <div class="chart-container">
          <h2>Nombre de Candidats Néo-bacheliers - Phase Principale</h2>
          <canvas #chartNeoBacheliersPhasePrincipaleRef></canvas>
        </div>
      </div>

      <div class="graphe" [hidden]="selectedSousOption1 !== 'pcneo'">
        <div class="chart-container">
          <h2>Nombre de Candidats Néo-bacheliers - Phase Complémentaire</h2>
          <canvas #chartNeoBacheliersPhaseComplementaireRef></canvas>
        </div>
      </div>

      <!-- Tous les candidats -->
      <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneot'">
        <div class="chart-container">
          <h2>Effectif Total Candidats - Phase Principale</h2>
          <canvas #chartEffectifTotalCandidatsPhasePrincipaleRef></canvas>
        </div>
      </div>

      <div class="graphe" [hidden]="selectedSousOption1 !== 'pcneot'">
        <div class="chart-container">
          <h2>Effectif Total Candidats - Phase Complémentaire</h2>
          <canvas #chartEffectifTotalCandidatsPhaseComplementaireRef></canvas>
        </div>
      </div>

      <!-- Néo-bacheliers technologiques -->
      <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneotech'">
        <div class="chart-container">
          <h2>Néo-Bacheliers Technologiques - Phase Principale</h2>
          <canvas #chartNeoBachelierTechnologiquePhasePrincipaleRef></canvas>
        </div>
      </div>

      <div class="graphe" [hidden]="selectedSousOption1 !== 'pcneotech'">
        <div class="chart-container">
          <h2>Néo-Bacheliers Technologiques - Phase Complémentaire</h2>
          <canvas #chartEffectifNeoBachelierTechnologiquePhaseComplementaireRef></canvas>
        </div>
      </div>
    </div>

    <!-- Options pour Nombre d'Admis -->
    <div [hidden]="selectedOption !== 'nombre_dadmis'">
      <div class="sous-boutons">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedSousOption">
          <mat-button-toggle value="neo_admis" class="bold-toggle">Néo-bacheliers</mat-button-toggle>
          <mat-button-toggle value="touslescandidatsadmis" class="bold-toggle">Tous les candidats</mat-button-toggle>
          <mat-button-toggle value="neobachelierstechnoadmis" class="bold-toggle">Néo-bacheliers technologiques</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <!-- Sous-options Nombre d'Admis -->
      <div *ngIf="selectedSousOption === 'neo_admis' || selectedSousOption === 'touslescandidatsadmis' || selectedSousOption === 'neobachelierstechnoadmis'">
        <div class="sous-boutons">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedSousOption1">
            <mat-button-toggle *ngIf="selectedSousOption === 'neo_admis'" value="ppneoad" class="bold-toggle">Effectif Néo-Bacheliers Admis</mat-button-toggle>

            <mat-button-toggle *ngIf="selectedSousOption === 'touslescandidatsadmis'" value="ppneotad" class="bold-toggle">Phase Complémentaire</mat-button-toggle>
            <mat-button-toggle *ngIf="selectedSousOption === 'touslescandidatsadmis'" value="pcneotad" class="bold-toggle">Effectif Total Admis</mat-button-toggle>

            <mat-button-toggle *ngIf="selectedSousOption === 'neobachelierstechnoadmis'" value="ppneotechad" class="bold-toggle">Effectif Néo-bacheliers technologiques Admis</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <!-- Graphiques Nombre d'Admis -->
      <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneoad'">
        <div class="chart-container">
          <h2>Effectif Néo-bacheliers Admis</h2>
          <canvas #chartEffectifNeoBacheliersAdmisRef></canvas>
        </div>
      </div>

      <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneotad'">
        <div class="chart-container">
          <h2>Effectif Total Admis - Phase Complémentaire</h2>
          <canvas #chartEffectifAdmisPhaseComplementaireRef f></canvas>
        </div>
      </div>

      <div class="graphe" [hidden]="selectedSousOption1 !== 'pcneotad'">
        <div class="chart-container">
          <h2>Effectif Total Admis </h2>
          <canvas #chartEffectifTotalCandidatsAdmisRef></canvas>
        </div>
      </div>

      <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneotechad'">
        <div class="chart-container">
          <h2>Effectif Néo-Bacheliers Technologiques Admis</h2>
          <canvas #chartEffectifTechnologiquesAdmisRef></canvas>
        </div>
      </div>

      
    </div>
  </div>
</div>































<!-- Block 2 : Profil des candidats admis -->
<div class="block">
  <div class="menu">
    <h1 class="titre">
      <fa-icon [icon]="faSignal"></fa-icon> Profil des candidats admis
    </h1>
  </div>

  <div class="bouton">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOption1">
      <mat-button-toggle value="mention_au_bac" class="bold-toggle">Mention au bac</mat-button-toggle>
      <mat-button-toggle value="sexe" class="bold-toggle">Sexe</mat-button-toggle>
      <mat-button-toggle value="bourse" class="italic-toggle">Bourse</mat-button-toggle>
      <mat-button-toggle value="academie" class="underline-toggle">Académie</mat-button-toggle>
      <mat-button-toggle value="type_de_bac" class="underline-toggle">Type de bac</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div>
    <div [hidden]="selectedOption1 !== 'mention_au_bac'">
      <div class="sous-boutons">
        <mat-button-toggle-group name="mentionGroup1" aria-label="Mentions" [(ngModel)]="selectedSousOption11">
          <mat-button-toggle value="tres_bien_felicitations" class="bold-toggle">Très bien avec félicitations</mat-button-toggle>
          <mat-button-toggle value="tres_bien" class="bold-toggle">Très bien</mat-button-toggle>
          <mat-button-toggle value="bien" class="bold-toggle">Bien</mat-button-toggle>
          <mat-button-toggle value="assez_bien" class="bold-toggle">Assez bien</mat-button-toggle>
          <mat-button-toggle value="passable" class="bold-toggle">Passable</mat-button-toggle>
          <mat-button-toggle value="sans_mention" class="bold-toggle">Sans mention</mat-button-toggle>
          <mat-button-toggle value="mention_technologique" class="bold-toggle">Mention technologique</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div [hidden]="selectedSousOption11 !== 'mention_technologique'" class="graphe">
        <canvas #chartEffectifTechnologiquesMentionBacAdmisRef></canvas>
      </div>

     <!-- chartEffectifNeoBacheliermentionTresBienFelicitationBacAdmisRef -->

      <div [hidden]="selectedSousOption11 !== 'tres_bien_felicitations'" class="graphe">
        <canvas #chartEffectifNeoBacheliermentionTresBienFelicitationBacAdmisRef></canvas>
      </div>

      <div [hidden]="selectedSousOption11 !== 'tres_bien'" class="graphe">
        <canvas #chartEffectifNeoBacheliermentionTresBienBacAdmisRef></canvas>
      </div>

      <div [hidden]="selectedSousOption11 !== 'bien'" class="graphe">

    </div>

    <!-- chartEffectifNeoBacheliermentionTresBienFelicitationBacAdmisRef-->

    <div [hidden]="selectedSousOption11 !== 'sans_mention'" class="graphe">
      <canvas #chartEffectifNeoBacheliersSansMentionBacAdRef></canvas>
    </div>

  </div>
  
</div>

<!-- Block 3 : Indicateurs de sélectivité -->
<div class="block">
  <div class="menu">
    <div class="fd1">
      <h1 class="titre">
        <i class="fas fa-chart-line"></i> Indicateurs de sélectivité
      </h1>
    </div>
  </div>

  <div class="bouton">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOption2">
      <mat-button-toggle value="taux_dacces" class="bold-toggle">Taux d'accès</mat-button-toggle>
      <mat-button-toggle value="duree_du_processus" class="bold-toggle">Durée du processus de sélection</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div [hidden]="selectedOption2 !== 'taux_dacces'" class="graphe">
    <canvas #chartTauxAccesRef></canvas>
  </div>
</div>

<!-- Block 4 : Nouveauté - Moyennes de terminale -->
<div class="block">
  <div class="menu">
    <div class="fd1">
      <h1 class="titre">
        <i class="fas fa-check-double" style="color:#d63384;"></i> <b style="color:#d63384;">Nouveauté</b> : Moyennes de terminale
      </h1>
    </div>
  </div>

  <div class="bouton">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOption3">
      <mat-button-toggle value="frequence" class="bold-toggle">Fréquence d'envoi des propositions</mat-button-toggle>
      <mat-button-toggle value="moyenne" class="bold-toggle">Moyennes de terminale des admis</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="sous-boutons">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedSousOption3">
      <mat-button-toggle value="technologique" class="bold-toggle">Technologique</mat-button-toggle>
      <mat-button-toggle value="generales" class="bold-toggle">Générales</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div [hidden]="selectedOption3 !== 'moyenne'" class="graphe">
    <p>Courbe de distribution des moyennes des effectifs</p>
    <canvas #distributionChart></canvas>
  </div>
</div>
