.grid {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espace entre chaque ligne de boutons */
    max-width: 800px;
    margin: 0 auto;
}

.button-row {
    display: flex;
    gap: 10px; /* Espace entre les boutons dans chaque ligne */
}

.button {
    background-color: #337ab7;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;

    margin-bottom: 10px;

   
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-row {
    display: flex;
    gap: 10px; 
}

h1 {

    color: #333;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    background: linear-gradient(90deg, #4e9af1, #346cb0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
}