
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-align: justify;
  }
  
  h1 {
    color: #28a9d9;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 30px;
  }
  
  .btn {
    background-color: #ff9c42;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
  }
  
 
  
  
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d40a57;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
  }
.specialite{
    color: #d40a57;
}
