<div class="container-datasup">
    <p id="logo">
        <span id="data">Data</span><span id="sup">Sup</span>
    </p>
    <p id="welcome-text">
        <span id="data">Data</span><span id="sup">Sup</span> est une plateforme gratuite et autonome permettant de visualiser les données en open data provenant de Parcoursup.
    </p>
</div>

<div class="section">
    <p>Avec DataSup, accédez rapidement à une multitude d'informations publiques et fiables sur le recrutement des formations, en complément des données disponibles sur les sites de Parcoursup.</p>
    <img src="accueil/parcoursup-logo.png" alt="Logo Parcoursup">
    <p id="avertissement">Entièrement neutre, DataSup ne donne ni conseils ni avis concernant les projets d'orientation des candidats.</p>
</div>