<!--
<div class="header-section">
    <p class="breadcrumbs">
      <a class="breadcrumb-link" routerLink="/">DataSup</a> /
    
      <a class="breadcrumb-link" routerLink="/geo-page">Geographiques</a> 
    </p>
  </div>
<div>



    <canvas id="formationChart"></canvas>
</div>


-->

<div class="header-section">
  <p class="breadcrumbs">
    <a class="breadcrumb-link" routerLink="/">DataSup</a> /
    <a class="breadcrumb-link" routerLink="/geo-page">Geographiques</a>
  </p>
</div>

<!-- Premier graphique : Public / Privé -->
<div class="chart-container">
  <h2>Filières Public / Privé</h2>
  <canvas id="formationChart"></canvas>
</div>

<!-- Section pour le graphique rectangulaire (horizontal) -->
<div class="full-screen-chart-container">
  <h2>Répartition des filières par type</h2>
  <!-- Boutons de sélection d'année pour le graphique rectangulaire -->
  <div class="year-button-group">
    <button *ngFor="let year of years" (click)="onSelectLargeYear(year)"
            [class.active]="year === selectedLargeYear">
      {{ year }}
    </button>
  </div>
  <canvas id="largeChart"></canvas>
</div>