<section class="decalerdroite">
  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Chargement des graphiques en cours...</p>
  </div>
  



<div class="header-section">
    <p class="breadcrumbs">
      <button class="breadcrumb-link" [routerLink]="['/']">Accueil</button> /
      <button class="btn-retour" [routerLink]="['/universites']">Retour aux universités</button>
    </p>
  </div>



  
  <div class="block">
    <div class="menu">
      <div class="fd1">
        <h1 class="titre">
          <fa-icon [icon]="faSignal"></fa-icon> Informations Générales
        </h1>
      </div>
  
      <!-- Menu principal -->
      <div class="bouton">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOption">
          <mat-button-toggle value="nombre_de_candidats" class="bold-toggle">Nombre de candidats</mat-button-toggle>
          <mat-button-toggle value="nombre_dadmis" class="bold-toggle">Nombre d'admis</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
  
      <!-- Options pour Nombre de Candidats -->
      <div [hidden]="selectedOption !== 'nombre_de_candidats'">
        <div class="sous-boutons">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedSousOption">
            <mat-button-toggle value="neobachelier" class="bold-toggle">Néo-bacheliers</mat-button-toggle>
            <mat-button-toggle value="touslescandidats" class="bold-toggle">Tous les candidats</mat-button-toggle>
            <mat-button-toggle value="neoBachierlierstechnologique" class="bold-toggle">Néo-bacheliers technologiques</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
  
        <!-- Sous-options pour Nombre de Candidats -->
        <div *ngIf="selectedSousOption === 'neobachelier' || selectedSousOption === 'touslescandidats' || selectedSousOption === 'neoBachierlierstechnologique'">
          <div class="sous-boutons">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedSousOption1">
              <mat-button-toggle *ngIf="selectedSousOption === 'neobachelier'" value="ppneo" class="bold-toggle">Phase Principale</mat-button-toggle>
              <mat-button-toggle *ngIf="selectedSousOption === 'neobachelier'" value="pcneo" class="bold-toggle">Phase Complémentaire</mat-button-toggle>
  
              <mat-button-toggle *ngIf="selectedSousOption === 'touslescandidats'" value="ppneot" class="bold-toggle">Phase Principale</mat-button-toggle>
              <mat-button-toggle *ngIf="selectedSousOption === 'touslescandidats'" value="pcneot" class="bold-toggle">Phase Complémentaire</mat-button-toggle>
  
              <mat-button-toggle *ngIf="selectedSousOption === 'neoBachierlierstechnologique'" value="ppneotech" class="bold-toggle">Phase Principale</mat-button-toggle>
              <mat-button-toggle *ngIf="selectedSousOption === 'neoBachierlierstechnologique'" value="pcneotech" class="bold-toggle">Phase Complémentaire</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
  
        <!-- Graphiques selon sélection -->
        <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneo'">
          <div class="chart-container">
            <h2>Nombre de Candidats Néo-bacheliers - Phase Principale</h2>
            <canvas id="chartNeoBacheliersGeneraux"></canvas>
          </div>
        </div>
  
        <div class="graphe" [hidden]="selectedSousOption1 !== 'pcneo'">
          <div class="chart-container">
            <h2>Nombre de Candidats Néo-bacheliers - Phase Complémentaire</h2>
            <canvas id="chartNeoBacheliersGenerauxPhaseComplementaire"></canvas>
          </div>
        </div>
  
        <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneot'">
          <div class="chart-container">
            <h2>Effectif Total Candidats - Phase Principale</h2>
            <canvas id="chartTotalCandidatsPhasePrincipale"></canvas>
          </div>
        </div>
  
        <div class="graphe" [hidden]="selectedSousOption1 !== 'pcneot'">
          <div class="chart-container">
            <h2>Effectif Total Candidats - Phase Complémentaire</h2>
            <canvas id="chartTotalCandidatsPhaseComplementaire"></canvas>
          </div>
        </div>
  
        <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneotech'">
          <div class="chart-container">
            <h2>Néo-Bacheliers Technologiques - Phase Principale</h2>
            <canvas id="chartNeoBacheliersTechnologiques"></canvas>
          </div>
        </div>
  
        <div class="graphe" [hidden]="selectedSousOption1 !== 'pcneotech'">
          <div class="chart-container">
            <h2>Néo-Bacheliers Technologiques - Phase Complémentaire</h2>
            <canvas id="chartNeoBacheliersTechnologiquesPhaseComplementaire"></canvas>
          </div>
        </div>
      </div>
  
      <!-- Options pour Nombre d'Admis -->
      <div [hidden]="selectedOption !== 'nombre_dadmis'">
        <div class="sous-boutons">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedSousOption">
            <mat-button-toggle value="neo_admis" class="bold-toggle">Néo-bacheliers</mat-button-toggle>
            <mat-button-toggle value="touslescandidatsadmis" class="bold-toggle">Tous les candidats</mat-button-toggle>
            <mat-button-toggle value="neoBachierlierstechnoadmis" class="bold-toggle">Néo-bacheliers technologiques</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
  
        <!-- Sous-options Nombre d'Admis -->
        <div *ngIf="selectedSousOption === 'neo_admis' || selectedSousOption === 'touslescandidatsadmis' || selectedSousOption === 'neoBachierlierstechnoadmis'">
          <div class="sous-boutons">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedSousOption1">
              <!-- <mat-button-toggle *ngIf="selectedSousOption === 'neo_admis'" value="ppneoad" class="bold-toggle">Phase Principale</mat-button-toggle>
               <mat-button-toggle *ngIf="selectedSousOption === 'neo_admis'" value="pcneoad" class="bold-toggle">Phase Complémentaire</mat-button-toggle> -->
              <mat-button-toggle *ngIf="selectedSousOption === 'neo_admis'" value="ppneoad" class="bold-toggle">Effectif Néo-Bacheliers Admis</mat-button-toggle>
             <!--  <mat-button-toggle *ngIf="selectedSousOption === 'neo_admis'" value="pcneoad" class="bold-toggle">Proportion neo-bacheliers admis</mat-button-toggle> -->
  
              <mat-button-toggle *ngIf="selectedSousOption === 'touslescandidatsadmis'" value="ppneotad" class="bold-toggle">Phase Principale</mat-button-toggle>
              <mat-button-toggle *ngIf="selectedSousOption === 'touslescandidatsadmis'" value="pcneotad" class="bold-toggle">Phase Complémentaire</mat-button-toggle>
  
              <mat-button-toggle *ngIf="selectedSousOption === 'neoBachierlierstechnoadmis'" value="ppneotechad" class="bold-toggle">Effectif Néo-bachelier technologique</mat-button-toggle>
             <!--  <mat-button-toggle *ngIf="selectedSousOption === 'neoBachierlierstechnoadmis'" value="pcneotechad" class="bold-toggle">Phase Complémentaire</mat-button-toggle> -->
            </mat-button-toggle-group>
          </div>
        </div>
  
        <!-- Graphiques Nombre d'Admis -->
        <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneoad'">
          <div class="chart-container">
            <h2>Effectif Néo-bacheliers admis </h2>
            <canvas id="chartNeoBacheliersAdmis"></canvas>
          </div>
        </div>
  
      <!--   <div class="graphe" [hidden]="selectedSousOption1 !== 'pcneoad'">
          <div class="chart-container">
            <h2>Effectif Néo-bacheliers admis - Phase Complémentaire</h2>
            <canvas id="chartProportionNeoBacheliersAdmis"></canvas>
          </div>
        </div> -->
  
        <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneotad'">
          <div class="chart-container">
            <h2>Effectif Total admis - Phase Principale</h2>
            <canvas id="chartAdmisPhasePrincipale"></canvas>
          </div>
        </div>
  
        <div class="graphe" [hidden]="selectedSousOption1 !== 'pcneotad'">
          <div class="chart-container">
            <h2>Effectif Total admis - Phase Complémentaire</h2>
            <canvas id="chartAdmisPhaseComplementaire"></canvas>
          </div>
        </div>
  
        <div class="graphe" [hidden]="selectedSousOption1 !== 'ppneotechad'">
          <div class="chart-container">
            <h2>Effectif Néo-bacheliers technologiques admis </h2>
            <canvas id="chartTechnologiquesAdmis"></canvas>
          </div>
        </div>
  
        <!-- <div class="graphe" [hidden]="selectedSousOption1 !== 'pcneotechad'">
          <div class="chart-container">
            <h2>Effectif Néo-bacheliers technologiques admis - Phase Complémentaire</h2>
            <canvas id="chartAdmisNeoTechPhaseComplementaire"></canvas>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  






<!-- ici -->

<div class="block">
  <div class="menu">
    <h1 class="titre">
      <fa-icon [icon]="faSignal"></fa-icon> 
     <!--  Profil des candidats admis -->
      Profils – Quotas applicables
    </h1>
  </div>


    <!-- -----------------------------------    options Quotas         ------------------------------------------------------------------- -->
    
  <!--   <div [hidden]="'quotas_applicables'" > -->
      <div class="sous-boutons"   > 
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOptionQ "> 
      <mat-button-toggle value="boursiersSecondaire"  class="bold-toggle">Boursiers du secondaire</mat-button-toggle>
    <!--   <mat-button-toggle value="candidatsHorsSecteur" class="bold-toggle">candidats hors secteur</mat-button-toggle>  -->
      <mat-button-toggle value="lyceenTechnologie" class="bold-toggle">Lycéens technologiques</mat-button-toggle> 
      <mat-button-toggle value="LyceensProf" class="bold-toggle">Lycéens professionnels</mat-button-toggle> 
    </mat-button-toggle-group>
      

   <div class="graphe" [hidden]="selectedOptionQ  !== 'boursiersSecondaire'">
    <div class="chart-container">
      <h2>Nombre de  Candidats Néo-bachelier</h2>
      <canvas id="chartBoursiers"></canvas>
      </div>
    </div>


</div>

    <div class="graphe" [hidden]="selectedOptionQ  !== 'lyceenTechnologie'">
      <div class="chart-container">
        <h2>Lyceen technologiques</h2>
        <canvas id="chartAdmisAvantBac"></canvas>
        </div>
      </div>
   
    

    <div class="graphe" [hidden]="selectedOptionQ  !== 'LyceensProf'">
      <div class="chart-container">
        <h2>Nombre de  Candidats hh Néo-bachelier</h2>
        <canvas id="chartAdmisAcademieParisCreteilVersailles"></canvas>
        </div>
      </div>
  
  

 <!--  </div> -->
</div>
    <!-- ----------------------------------- Fin   options Quotas         ------------------------------------------------------------------- -->







<!--  --------------------------   block 2 ----------------------------------- -->

<div class="block">
  <div class="menu">
    <h1 class="titre">
      <fa-icon [icon]="faSignal"></fa-icon> 
      Profil des candidats admis
    </h1>
  </div>

  <div class="bouton">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOption1"> 
      <mat-button-toggle value="mention_au_bac" class="bold-toggle">Mention au bac</mat-button-toggle>
      <mat-button-toggle value="sexe" class="bold-toggle">Sexe</mat-button-toggle>
      <mat-button-toggle value="boursiers" class="bold-toggle">Boursier</mat-button-toggle>
     <!--  <mat-button-toggle value="academie" class="bold-toggle">Académie</mat-button-toggle> -->
      <mat-button-toggle value="type_de_bac" class="bold-toggle">Type de bac</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  
  <!-- Section pour 'mention_au_bac' -->
  <div [hidden]="selectedOption1 !== 'mention_au_bac'">
    <div class="sous-boutons">
      <mat-button-toggle-group name="mentionGroup1" aria-label="Mentions" [(ngModel)]="selectedSousOption11">
        <mat-button-toggle value="tres_bien_felicitations" class="bold-toggle">Très bien avec félicitations</mat-button-toggle>
        <mat-button-toggle value="tres_bien" class="bold-toggle">Très bien</mat-button-toggle>
        <mat-button-toggle value="bien" class="bold-toggle">Bien</mat-button-toggle>
        <mat-button-toggle value="assez_bien" class="bold-toggle">Assez bien</mat-button-toggle>
        <mat-button-toggle value="mention_pro" class="bold-toggle">Mentions professionnels</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="sous-boutons">
      <mat-button-toggle-group name="mentionGroup2" aria-label="Mentions" [(ngModel)]="selectedSousOption11">
        <!-- <mat-button-toggle value="passable" class="bold-toggle">Passable</mat-button-toggle> -->
        <mat-button-toggle value="sans_mention" class="bold-toggle">Sans mention</mat-button-toggle>
        <mat-button-toggle value="mention_technologique" class="bold-toggle">Mention technologique</mat-button-toggle>
        <mat-button-toggle value="sans_info_mention" class="bold-toggle">Sans informations Mention</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
 


   <!-- Graphiques -->
   <div class="graphe" [hidden]="selectedSousOption11 !== 'mention_technologique'">
    <div class="chart-container">
      <h2>Mention technologique</h2>
      <canvas id="chartCandidates"></canvas>
    </div>
   </div>

   <div class="graphe" [hidden]="selectedSousOption11 !== 'tres_bien_felicitations'">
    <div class="chart-container">
      <h2>Très bien avec félicitations</h2>
      <canvas id="chartNeoBacheliersMentionTresBien"></canvas>
    </div>
   </div>

   <div class="graphe" [hidden]="selectedSousOption11 !== 'tres_bien'">
    <div class="chart-container">
      <h2>Très bien</h2>
      <canvas id="chartMentionTresBien"></canvas>
    </div>
   </div>

   <div class="graphe" [hidden]="selectedSousOption11 !== 'bien'">
    <div class="chart-container">
      <h2>Bien</h2>
      <canvas id="chartNeoBacheliersMentionBien"></canvas>
    </div>
   </div>

   <div class="graphe" [hidden]="selectedSousOption11 !== 'assez_bien'">
    <div class="chart-container">
      <h2>Assez bien</h2>
      <canvas id="chartMentionAssezBien"></canvas>
    </div>
   </div>

   <div class="graphe" [hidden]="selectedSousOption11 !== 'passable'">
    <div class="chart-container">
      <h2>Passable</h2>
      <canvas id="chartPassable"></canvas>
    </div>
   </div>

   <div class="graphe" [hidden]="selectedSousOption11 !== 'sans_mention'">
    <div class="chart-container">
      <h2>Sans mention</h2>
      <canvas id="chartSansMention"></canvas>
    </div>
   </div>
 
   <div class="graphe" [hidden]="selectedSousOption11 !== 'mention_pro'">
    <div class="chart-container">
      <h2>Mentions professionnels</h2>
      <canvas id="chartProfessionnelsMentionBac"></canvas>
    </div>
   </div>

   <div class="graphe" [hidden]="selectedSousOption11 !== 'sans_info_mention'">
    <div class="chart-container">
      <h2>Sans informations Mention</h2>
      <canvas id="chartNeoBacheliersSansInfo"></canvas>
    </div>
    </div>


   </div>



 

    <!-- sexe -->
<!-- <div>
  <div class="graphe" [hidden]="selectedOption1!== 'sexe'">
    <div class="chart-container">
      <h2>Effectif Candidates admises</h2>
      <canvas id="chartCandidatesAdmises"></canvas>
    </div>
    </div>

  </div>
 -->



 <!-- Section pour 'sexe' -->
<div [hidden]="selectedOption1 !== 'sexe'">
  <div class="sous-boutons">
    <mat-button-toggle-group name="sexeGroup" aria-label="Sexe" [(ngModel)]="selectedSousOption11">
      <mat-button-toggle value="effectif_candidates_admises" class="bold-toggle">Effectif Candidates admises</mat-button-toggle>
      <mat-button-toggle value="effectif_total_candidats_admis" class="bold-toggle">Effectif Total Candidats admis</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Graphique Effectif Candidates admises -->
  <div class="graphe" [hidden]="selectedSousOption11 !== 'effectif_candidates_admises'">
    <div class="chart-container">
      <h2>Effectif Candidates admises</h2>
      <canvas id="chartCandidatesAdmises"></canvas>
    </div>
  </div>

  <!-- Graphique Effectif Total Candidats admis -->
  <div class="graphe" [hidden]="selectedSousOption11 !== 'effectif_total_candidats_admis'">
    <div class="chart-container">
      <h2>Effectif Total Candidats admis</h2>
      <canvas id="chartTotalCandidatsAdmis"></canvas>
    </div>
  </div>
</div>





<!-- Section pour 'type_de_bac' -->
<div [hidden]="selectedOption1 !== 'type_de_bac'">
  <div class="sous-boutons">
    <mat-button-toggle-group name="typeBacGroup" aria-label="Type de Bac" [(ngModel)]="selectedSousOption11">
      <mat-button-toggle value="bac_generaux" class="bold-toggle">Bac généraux</mat-button-toggle>
      <mat-button-toggle value="bac_technologiques" class="bold-toggle">Bac technologiques</mat-button-toggle>
      <mat-button-toggle value="bac_pro" class="bold-toggle">Bac professionnels</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Graphique Bac généraux -->
  <div class="graphe" [hidden]="selectedSousOption11 !== 'bac_generaux'">
    <div class="chart-container">
      <h2>Bac généraux</h2>
      <canvas id="chartGenerauxAdmis"></canvas>
    </div>
  </div>

  <!-- Graphique Bac technologiques -->
  <div class="graphe" [hidden]="selectedSousOption11 !== 'bac_technologiques'">
    <div class="chart-container">
      <h2>Bac technologiques</h2>
      <canvas id="chartNeoBacheliersTechAdmis"></canvas>
    </div>
  </div>

   <!-- bac pro -->
  <div class="graphe" [hidden]="selectedSousOption11 !== 'bac_pro'">
    <div class="chart-container">
      <h2>Bac professionnels</h2>
      <canvas id="chartProfessionnelsAdmis"></canvas>
    </div>


</div>






<div [hidden]="selectedOption1 !== 'boursiers'">
  <div class="graphe">
    <div class="chart-container">
      <h2>Effectif total Boursiers Admis</h2>
      <canvas id="chartBoursiersAdmis"></canvas>
    </div>
  </div>
</div>

  

  <!-- Section pour 'academie' et 'type_de_bac' -->
  <!-- Ajoute des sections similaires selon les besoins -->

</div>





<!-- ------------------------------------------------------- block 3 -------------------------------------------------------------------- -->






<div class="block">
  <div class="menu">
    <div class="fd1">
      <h1 class="titre">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <i class="fas fa-chart-line"></i> Indicateurs de sélectivité
      </h1>
    </div>
  </div>

  <div class="bouton">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOption2">
      <mat-button-toggle value="taux_dacces" class="bold-toggle">Taux d'accès</mat-button-toggle>
      <mat-button-toggle value="duree_du_processus" class="bold-toggle">Durée du processus de sélection</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Section pour Taux d'accès -->
  <div [hidden]="selectedOption2 !== 'taux_dacces'">
    <div class="sous-boutons">
      <mat-button-toggle-group name="sousOptionSelectTaux" aria-label="Sélection Taux d'accès" [(ngModel)]="selectedSousOptionSelect">
        <mat-button-toggle value="taux_acces" class="bold-toggle">Taux d'accès</mat-button-toggle>
        <mat-button-toggle value="effectif_total_candidats_formation" class="bold-toggle">Effectif total des candidats</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- Graphiques Taux d'accès -->
    <div class="graphe" [hidden]="selectedSousOptionSelect !== 'taux_acces'">
      <div class="chart-container">
        <h2>Taux d'accès</h2>
        <canvas id="chartTauxAcces"></canvas>
      </div>
    </div>

    <div class="graphe" [hidden]="selectedSousOptionSelect !== 'effectif_total_candidats_formation'">
      <div class="chart-container">
        <h2>Effectif total des candidats</h2>
        <canvas id="chartCandidats"></canvas>
      </div>
    </div>
  </div>

  <!-- Section pour Durée du processus de sélection -->
  <div [hidden]="selectedOption2 !== 'duree_du_processus'">
    <div class="sous-boutons">
      <mat-button-toggle-group name="sousOptionSelectDuree" aria-label="Sélection Durée" [(ngModel)]="selectedSousOptionSelect">
        <mat-button-toggle value="admis_tres_tot" class="bold-toggle">Admis très tôt</mat-button-toggle>
        <mat-button-toggle value="admis_avant_fin" class="bold-toggle">Admis avant fin procédure</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- Graphiques Durée du processus -->
    <div class="graphe" [hidden]="selectedSousOptionSelect !== 'admis_tres_tot'">
      <div class="chart-container">
        <h2>Admis très tôt</h2>
        <canvas id="chartAdmisPropositionOuverture"></canvas>
      </div>
    </div>

    <div class="graphe" [hidden]="selectedSousOptionSelect !== 'admis_avant_fin'">
      <div class="chart-container">
        <h2>Admis avant fin de la procédure</h2>
        <canvas id="cchartAdmisPropositionAvantFin"></canvas>
      </div>
    </div>
  </div>
</div>




<!-- <div *ngIf="selectedOption2 === 'taux_dacces'" class="graphe">
  <div class="chart-container">
      <h2>Taux d'accès</h2>
      <canvas id="chartTauxAcces"></canvas>
    </div>
  </div> -->


<!-- fin du bloc -->
</div>
  
















<!-- ------------------------------------------------------- block 4 -------------------------------------------------------------------- -->




<div  class="block">

  <div class="menu">
  <div class="fd1">
  <h1 class="titre">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<i class="fas fa-check"></i> <b>Critères d'examen des candidatures</b>
  </h1>
  </div>
</div>



<div class="bouton">  
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOption4"> 
    <mat-button-toggle value="resultats_academiques" class="bold-toggle">Résultats academiques</mat-button-toggle>
    <mat-button-toggle value="competence_academique" class="bold-toggle"> Competences academiques</mat-button-toggle>
    <mat-button-toggle value="engagement_et_activite" class="bold-toggle"> Engagements et activités</mat-button-toggle>
  </mat-button-toggle-group>
</div>



<!-- debut sous bouton  -->
<div class="sous-boutons"   > 
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOption4"> 
  <mat-button-toggle value="projet_et_motivation"  class="bold-toggle"> projet et motivation </mat-button-toggle>
  <mat-button-toggle value="savoir_etre" class="bold-toggle"> Savoir-etre </mat-button-toggle> 
</mat-button-toggle-group>
 </div>




 <div *ngIf="selectedOption4 === 'resultats_academiques'" class="graphe">
  <div class="chart-container">
      <h2>Résultats academique</h2>
      <canvas id="chartAdmisAcademie"></canvas>
    </div>
  </div>









<!-- fin du bloc -->
</div>




<!-- ------------------------------------------------------- block 5 -------------------------------------------------------------------- -->




<div  class="block">

  <div class="menu">
  <div class="fd1">
  <h1 class="titre">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
     <i class="fas fa-check-double"></i> <b style="color:#d63384;">Nouveauté</b> : Moyennes de terminale
  </h1>
  </div>
</div>


<div class="bouton">  
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOption3"> 
    <mat-button-toggle value="frequence" class="bold-toggle">Fréquence d'envoi des propositions</mat-button-toggle>
    <mat-button-toggle value="moyenne" class="bold-toggle">Moyennes de terminale des admis </mat-button-toggle>
  </mat-button-toggle-group>
</div>



 <!-- debut sous bouton  -->
 <div class="sous-boutons"   > 
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedSousOption3"> 
  <mat-button-toggle value="technologique"  class="bold-toggle"> technologique</mat-button-toggle>
  <mat-button-toggle value="generales" class="bold-toggle">Générales </mat-button-toggle> 
</mat-button-toggle-group>
 </div>



 <div *ngIf="selectedOption3 === 'moyenne'" class="graphe">
  <p>Courbe de distribution des moyennes des effectifs</p>
  <canvas #chartAdmisAcademie> </canvas>
</div>




<div class="dernier">

</div>

<!-- fin du bloc -->
</div>







<div>
  <h1>Comparatif Établissements</h1>
  <!-- Add your component's HTML content here -->
</div>










<!-- ajour ajour -->





<!-- <div class="charts-container">
  <canvas id="chartCandidats"></canvas> 
  <canvas id="chartPhasePrincipale"></canvas>
  <canvas id="chartCandidates"></canvas>
</div>
 -->







<!-- </section> -->