/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'LTVeritas';
    src: url('/fonts/LTVeritas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LTVeritas';
    src: url('/fonts/LTVeritas-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --blue: #031D44;
    --white: #fff;
    --gray: #7A7D7D;
    --red: #D10000;
    --black: #000;
    --accent-red: #7C0B2B;
  
}

* {
    /* font-family: 'LTVeritas';
    margin: 0;
    padding: 0;
    box-sizing: border-box; */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mdc-checkbox__native-control {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 0.5;
    cursor: inherit;
    background-color: #d81b60;
    border: #000 1px solid;
}
  