<div *ngIf="isLoading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Chargement des formations en cours...</p>
</div><h1>Statistiques par formation</h1>


<!-- Barre de recherche -->
<div class="search-bar">
    <input
        type="text"
        placeholder="Rechercher une formation"
        aria-label="Search"
        [(ngModel)]="searchQuery"
        (input)="filterFormations()"
    >
    <p>Exemples de recherche :</p>
    <p>"Licence Informatique", "Licence Dijon", "Informatique", "BUT Informatique Dijon", "Dijon", etc...</p>
</div>

<!-- Tableau des formations -->
<div class="formation-table">
    <table>
        <thead>
            <tr>
                <th>Établissement</th>
                <th>Commune</th>
                <th>Académie</th>
                <th>Filière</th>
                <th>Filière détaillée</th>
                <th>Filière très détaillée</th>
                <th>Statut</th>
                <th>Sélectivité</th>
                <th>Nombre d'admis</th>
                <th>Parcoursup</th>
            </tr>
        </thead>
        <tbody *ngIf="filteredFormations.length > 0">
            <tr *ngFor="let formation of filteredFormations" 
                (click)="goToFormation(formation.id_filiere)">

                <td>{{ formation.etablissement }}</td>
                <td>{{ formation.commune_etablissement || 'N/A' }}</td>
                <td>{{ formation.academie_etablissement }}</td>
                <td>{{ formation.filiere_formation }}</td>
                <td>{{ formation.filiere_formation_detaillee }}</td>
                <td>{{ formation.filiere_formation_tres_detaillee || 'N/A' }}</td>
                <td>{{ formation.statut_etablissement_filiere }}</td>
                <td>{{ formation.selectivite }}</td>
                <td>{{ formation.effectif_total_candidats_admis || 'N/A' }}</td>
                <td>
                    <a *ngIf="formation.lien_parcoursup" [href]="formation.lien_parcoursup" target="_blank">Voir</a>
                </td>
            </tr>
        </tbody>
    </table>


      <!-- Spinner de chargement -->
    <!--  <div *ngIf="isLoading" class="loading-container">
            <mat-spinner></mat-spinner>
            <p>Chargement des formations en cours...</p>
    </div><h1>Statistiques par formation</h1> -->


    <!-- <div *ngIf="filteredFormations.length === 0">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div> -->
    <!-- <div *ngIf="filteredFormations.length === 0">
          <mat-spinner></mat-spinner>
    </div> -->

</div>

<!-- Pagination -->
<div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="page === 1">Précédent</button>
    <span>Page {{ page }} sur {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="page >= totalPages">Suivant</button>
</div>