<h1>Statistiques par formation</h1>

<!-- Barre de recherche -->
<div class="search-bar">
    <input
        type="text"
        placeholder="Rechercher une formation"
        aria-label="Search"
        [(ngModel)]="searchQuery"
        (input)="filterFormations()"
    >
    <p>Exemples de recherche :</p>
    <p>"Licence Informatique", "Licence Dijon", "Informatique", "BUT Informatique Dijon", "Dijon", etc...</p>
</div>

<!-- Tableau des formations -->
<div class="formation-table">
    <table>
        <thead>
            <tr>
                <th>Établissement</th>
                <th>Commune</th>
                <th>Filière</th>
                <th>Filière détaillée</th>
                <th>Filière très détaillée</th>
                <th>Académie</th>
                <th>Statut</th>
                <th>Sélectivité</th>
                <th>Nombre d'admis</th>
                <th>Parcoursup</th>
            </tr>
        </thead>
        <tbody *ngIf="filteredFormations.length > 0">
            <tr *ngFor="let formation of filteredFormations" 
                (click)="goToFormation(formation.id_filiere)"
                style="cursor: pointer;">
                <td>{{ formation['e.etablissement'] ?? 'Non disponible' }}</td>
                <td>{{ formation['e.commune_etablissement'] ?? 'Non disponible' }}</td>
                <td>{{ formation['f.filiere_formation'] ?? 'Non disponible' }}</td>
                <td>{{ formation['f.filiere_formation_detaillee'] ?? 'Non disponible' }}</td>
                <td>{{ formation['f.filiere_formation_tres_detaillee'] ?? 'Non disponible' }}</td>
                <td>{{ formation['e.academie_etablissement'] ?? 'Non disponible' }}</td>
                <td>{{ formation['e.statut_etablissement_filiere'] ?? 'Non disponible' }}</td>
                <td>{{ formation['f.selectivite'] ?? 'Non disponible' }}</td>
                <td>{{ formation['a.effectif_total_candidats_admis'] ?? 'Non disponible' }}</td>
                 <a *ngIf="formation.lien_parcoursup" [href]="formation.lien_parcoursup" target="_blank">Voir</a>
                
            </tr>
        </tbody>
    </table>
    <p *ngIf="filteredFormations.length === 0" class="no-results">
        Aucun résultat trouvé pour votre recherche.
    </p>
</div>

<!-- Pagination -->
<div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="page === 1">Précédent</button>
    <span>Page {{ page }} sur {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="page >= totalPages">Suivant</button>
</div>
